/* imports */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --yellow: #f4d04e;
}

/* General */
html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Figtree", sans-serif;
  color: var(--gray-950);
  position: relative;
}

h2,
h3 {
  font-weight: 800;
}

p {
  font-weight: 500;
}

h2,
h3,
p {
  line-height: 1.5;
}
a {
  color: var(--gray-950);
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.blog-link {
  cursor: pointer;
}

.blog-card {
  border: 1px solid black;
  width: 87%;
  max-width: 385px;
  padding: 1.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 var(--gray-950);
}

.blog-card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.blog-card__content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.blog-card__category {
  background-color: var(--yellow);
  padding: 0.25rem 0.75rem;
  width: fit-content;
  font-size: clamp(12px, calc(12px + (100vw - 375px) * 0.001878), 14px);
  border-radius: 4px;
}

.blog-card__published-date {
  font-size: clamp(12px, calc(12px + (100vw - 375px) * 0.001878), 14px);
}

.blog-card__title {
  font-size: clamp(20px, calc(20px + (100vw - 375px) * 0.001878), 24px);
  transition: 0.2s ease-in-out;
}

.blog-link:hover .blog-card__title {
  color: var(--yellow);
}
.blog-card__description {
  font-size: clamp(14px, calc(14px + (100vw - 375px) * 0.001878), 16px);
  color: var(--gray-500);
}
.blog-card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.blog-card__author-avatar {
  width: 2rem;
  height: 2rem;
}

.blog-card__author-name {
  font-weight: 800;
  font-size: 0.875rem;
}
/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5rem;
  left: calc(50% - 170px);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
